label {
    font-size: 20px;
}

.search-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

li {
    display: block;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: auto;
}

ul li {
    background: #28251e;
    border-radius: 10px;
    margin: 5px;
}

a {
    text-decoration: none;
}

#search-box {
    border-radius: 25px;
    background: #ffffff67;
    border: none;
    outline: none;
}

a:active {
    color: #FDFEFF
}

a:visited {
    color: #FDFEFF
}

li:hover {
    transform: scale(1.06);
}

ul {
    width: 800px;
    height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

li::-webkit-scrollbar {
    display: none;
}

ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
}